body {
  font-family: Arial, Helvetica, sans-serif;
}
.center {
  margin: auto;
  width: 90%;
  border: 3px solid black;
  padding: 10px;
}
h1 {
  text-align: center;
}

p {
  margin: 0;
  text-indent: 3ch;
}

ul {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p.pilcrow {
  text-indent: 0;
  display: inline;
}

p.pilcrow + p.pilcrow::before {
  content: ' ¶ ';
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  text-align: center;
}
